{% extends 'store/main.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<img src="{{ product.image_url }}" class="img-fluid" alt="Image Product">
		</div>
		<div class="col-lg-8">
			<h3>{{ product.name }} <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-primary add-btn update-cart" style="float:right">Add to Cart</button></h3>
			<p class="price"><span>$ {{ product.price }}</span></p>
			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
			<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.
			</p>
		</div>
	</div>
</div>

{% endblock content %}
